// .container h2 {
//   color: white;
// }

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  place-items: center;
}

.custom-accordion {
  width: 75%; 
}

.about-me img {
  width: 200px;
  margin: 5px auto;
  display: flex;

}

